@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Front-end Interview</h1>
    <p>Projeto de sistema de quiz desenvolvido durante o 3 ciclo do curso de Sistemas para Internet da PUC Minas</p>
</div>
