@model IEnumerable<interview.Models.Tema>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Escolha um tema</h2>

@foreach (var item in Model)
{
    <a asp-controller="Quizs" asp-action="SelectTheme" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Titulo)</a>
}
 


