
@{
    ViewData["Title"] = "Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model QuizViewModel
<style>
.current {
        display: block;
    }
    .hidden {
        display: none;
    }
</style>
<h1>Quiz: @Model.Tema.Titulo</h1>

<form asp-action="ScoreA" method="post">
    @for (var i = 0; i < Model.Perguntas.Count; i++)
    {
        <div class="current">
            <h3>@Model.Perguntas[i].Description</h3>

            @for (var j = 0; j < Model.Respostas.Count; j++)
            {
                if (Model.Respostas[j].IdPergunta == Model.Perguntas[i].Id)
                {
                    <input type="radio" name="RespostasSelecionadas[@i]" value="@Model.Respostas[j].Id" /> @Model.Respostas[j].Description
                    <br />
                }
            }
        </div>
    }

    <button type="submit">Submit Quiz</button>
</form>
<script>
  
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

